table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0px;
  width: 80px;
  height: 80px;
}

/* #morpion {
  border: none;
} */

body {
  margin: 1px;
  display: flex;
  justify-content: space-evenly;
  background-image: url('img/wallpaper2.jpg');
  background-size: cover;
}

.playerState {
  align-self: center;
}

#player1, #player2 {
  border: 1px solid black;
  border-radius: 4px;
  width: 270px;
  height: 160px;
  box-shadow: 7px 4px 10px black;
  background-color: rgba(255, 235, 205, 0.664);
} 

#player2 {
  margin-top: 100px;
}