<html>

<%- include header %>

<h1>Bienvenue <%=data[0].pseudo%></h1>
<div>
    <h2>Statistiques :</h2>
    <p>Victoire : <%=data[0].victoire%></p>
    <p>Defaite : <%=data[0].defaite%></p>
</div>
<div>
    <h2>Tchat :</h2>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        var socket = io();

        var send = function () {
            var text = document.getElementById('m').value;
            socket.emit('chat message', text);
            document.getElementById('m').value = "";
        }

        var receive = function (msg,user) {
            var li = document.createElement('li');
            li.innerText =user+" : "+msg;
            document.getElementById('messages').appendChild(li);
        }
        socket.on('chat message', receive);
    </script>
    <div>
        <ul id="messages"></ul>
        <div class="zone_text">
            <input id="m" /> <button onclick="send()">Send</button>
        </div>

    </div>

</div>

<div>
    <h2>File d'attente : </h2>

</div>

<%- include footer %>