<html>

<head>
  <meta charset="UTF-8">
  <title>EchecIsen / profil</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    .zone_text {
      background: #000;
      padding: 3px;
      position: fixed;
      width: 100%;
    }

    .zone_text input {
      border: 0;
      padding: 10px;
      width: 90%;
      margin-right: 0.5%;
    }

    .zone_text button {
      width: 9%;
      background: rgb(130, 224, 255);
      border: none;
      padding: 10px;
    }

    #messages {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    #messages li {
      padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
      background: #eee;
    }

    b{
      font-weight: bold;
    }
  </style>
</head>

<body>



  <a href="/home/accueil">Home</a>
  <a href="/home/logout">Deconnexion</a>