<html>

<head>
    <meta charset="UTF-8">
    <title>EchecIsen / Enregistrement</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .container {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 10%;
        }

        #id {
            border: 1px solid black;

            width: 600px;
            height: 200px;
            padding-top: 10px;
            text-align: center;
            box-shadow: 2px 1px 3px black;
        }

        form {
            padding-top: 10px;
        }

        h1 {
            margin-top: 10px;
            text-align: center;
            text-decoration: underline overline;
        }
    </style>
</head>

<body>
    <h1>CHESS</h1>
    <div class="container">
        <div id="id" class="rounded-top">
            Création de compte:
            <form role="form" method="post" action="/signup" onSubmit="return checkblank(this);">
                <% if (message.length > 0) { %>
                <%= message %>
                <% } %>

                <label for="pseudo"></label>
                <input type="text" name="pseudo" placeholder="Pseudo">

                <label for="password"></label>
                <input type="password" name="password" placeholder="Mot de passe">

                <br/><br/><button type="submit" class="btn btn-outline-success"> &nbsp Enregistrement</button>
            </form>
        </div>
        Vous avez déjà un compte ?
        <a href="/">Identification</a>
    </div>

                





</body>

</html>